.deals{
    display: flex;
}
.hot-deals{
    width: calc(100%/3);
    background: silver;
    height: 500px;
    margin: 0 15px 15px 15px;
    position: relative;
    overflow: hidden;
}
.sales{
    width: calc(2*100%/3);
    background: gray;
    margin: 0 15px 15px 15px;
    position: relative;
}
.deals-wrapp{
    height: 50px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: 'serif', Poppins-SemiBold;
    display: flex;
    justify-content: space-between;
}
.hot-deals-circles{
    width: 25px;
    margin: 0 3px;
    background: silver;
    border-radius: 50%;
}
.hot-deals-circles:hover{
    background: #d58e35;
}
.circle.active{
    background-color: #d58e35;
    color: #d58e35;
}
/* .hot-deals-circles::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
} */
.circles{
    display: flex;
}
.circles>li, .circles>li>a{
    text-decoration: none;
    list-style-type: none;
    color: silver;
    padding: 0px 5px;
}
.circles>li>a:hover{
   color:#d58e35;
}
a .active{
    background-color: #d58e35;
}
.circle-content{
    display: none;
}
.circle-content.active{
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
}
.button-circle{
    width: 25px;
    height: 25px;
    border-radius: 48%;
    outline: none;
    border: 0;
}
.btn-slider{
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.btn-slider-left{
    width: calc(100%/2);
    height: 40px;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-slider-right{
    width: calc(100%/2);
    height: 40px;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: center;
}